body {
    background-color: rgb(245, 80, 58);
    .navStyle {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(251, 202, 43, 1);
    }
    .liStyle {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}



