.addscene {
  display: flex;
  width: 98%;
  height: 85vh;
  margin-top: 2em;
  position: sticky;
  margin: auto;
  background-image: url("/background-images/addscene.jpg");
  @include border-style;  
  overflow: auto;
  overflow-x: auto;
}