.addscene-canvas {
  margin-right: 2em;
  margin: 2em auto;
  &-tabs {
      background-color: white;
  }
  &-container {
      overflow-x: auto;
      @include border-style;      
  }
  &-remover {
      padding: 3px;
      background-color: black;
      text-align: center;
      color: white;
  }
}