.addscene {
  display: flex;
  width: 98%;
  height: 85vh;
  margin-top: 2em;
  position: sticky;
  margin: auto;
  background-image: url("https://i.imgur.com/lFeOTKS.jpg");
  border-color: black;
  border-style: solid;
  box-shadow: 0px .125em .125em #000000;        
  overflow: auto;
  overflow-x: auto;
}