
/* ------------ Editing the Canvas (Desktop) ------------- */
.addscene {
    display: flex;
    width: 95%;
}

.addscene-edit {
    width: 50%;

    &-dropzone > div {
        position: relative;
        margin: auto;
        width: 90% !important;
        display: flex;
        vertical-align: middle;
        border-color: #FFC107 !important;
    }

    &-dropzone-text {
        text-align: center;
        position: relative;
        margin: auto;
        color: #FFC107;
    }

    &-preview {

        img {
            width: 90%;
        }
    }

    &-canvas-tabs {
        width: 90%;

        &-panel {
            width: 90%;
        }

        &-overlay {
            display: flex;
            flex-wrap: wrap;
        
            img {
                width: 33%;
                height: 33%;
            }
        }
    }
}

.canvas {
    width: 50%;
}

/* ------------ Text Fonts & Preview ------------- */
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Coming+Soon|Dekko|Gloria+Hallelujah|Kavivanar|Pangolin|Patrick+Hand|Patrick+Hand+SC|Schoolbell|Short+Stack|Sriracha|Walter+Turncoat');

.text-preview {
    width: 275px;
}

.annie-use-your-telescope {
    font-family: 'Annie Use Your Telescope';
}

.coming-soon {
    font-family: 'Coming Soon';
}

.dekko {
    font-family: 'Dekko';
}

.gloria-hallelujah {
    font-family: 'Gloria Hallelujah';
}

.kavivanar {
    font-family: 'Kavivanar';
}

.pangolin {
    font-family: 'Pangolin';
}

.patrick-hand {
    font-family: 'Patrick Hand';
}

.patrick-hand-sc {
    font-family: 'Patrick Hand SC';
}

.schoolbell {
    font-family: 'Schoolbell';
}

.short-stack {
    font-family: 'Short Stack';
}

.sriracha {
    font-family: 'Sriracha';
}

.walter-turncoat {
    font-family: 'Walter Turncoat';
}