/* ------------ Editing the Canvas ------------- */
.addscene-editcanvas {
    display: flex;
}



.overlay-options {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 33%;
        height: 33%;
    }
}