.home-page {
  &-top {
    background-image: url("/background-images/homepage-top.jpg");        
  }
  &-create {
      background-image: url("/background-images/homepage-body-a.jpg");
  }
  &-collaborate {
      background-image: url("/background-images/homepage-body-b.png");
  }
  &-combine {
      background-image: url("/background-images/homepage-body-c.jpg");
  }
}
