body {
  .navbar {
    position: relative;
    box-shadow: 0px 3px 5px #000000;    
    background-color: rgb(255,247,1); 
    font-family: 'Passion One', cursive;        
    text-align: center;  
    border-bottom-style: solid;
    border-bottom-color: black;          
    &-ul {
        list-style-type: none;
        margin: auto;
        width: 65%;
        padding: 0;
        overflow: hidden;
        :hover {
          background-color: rgb(0, 140, 255);
          color: white;
        } 
    }
    &-li {
      margin: auto;
      float: left;
      color: rgb(34, 74, 255);
      -webkit-text-stroke: 0.25px #000000; 
      font-size: 1.25em;             
      text-align: center;
      padding: 0.5em 1em 0.5em 1em;
      text-decoration: none;
    }
    &-li-r {
      margin: auto;
      float: right;
      color: rgb(34, 74, 255);
      -webkit-text-stroke: 0.25px #000000; 
      font-size: 1.25em;             
      text-align: center;
      padding: 0.5em 1em 0.5em 1em;
      text-decoration: none;
    }
  }
}