body {
  .navbar {
    font-family: 'Passion One', cursive;        
    text-decoration: none;        
    margin: -8px;
    text-align: center;            
    &-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255, 230, 0);   
    }
    &-li {
        margin-left: 5em;
        float: left;
        color: white;
        text-align: center;
        padding: 1em 1em;
        text-decoration: none;
    }
  }
}