body {
  .navbar {
    position: relative;
    box-shadow: 0px 3px 5px #000000;    
    background-image: url("http://uploads.neatorama.com/images/posts/972/90/90972/1466168848-2.jpg");
    font-family: 'Passion One', cursive;        
    text-align: center;  
    border-bottom-style: solid;
    border-bottom-color: black;          
    &-ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(255, 230, 0);  
        :hover {
          background-color: rgb(0, 140, 255);
        } 
    }
    &-li {
      float: left;
      color: white;
      text-align: center;
      padding: 1em 1em;
      text-decoration: none;
      :link {
        text-decoration: none;
        color: rgb(0, 140, 255);
      }
    }
  }
}