.single-story {
  margin: 0 auto;
  text-align: center;
  &-title {
    margin: 0;
    font-family: 'Poller One', cursive;
    font-size: 5vh;    
    color: rgb(255, 217, 0);
    -webkit-text-stroke: .025em #000000;        
    text-shadow: .08em .08em rgb(0, 204, 255);    
  }

  &-description {
    font-size: 1em;
    font-family: 'Permanent Marker', cursive;
  }

  &-scenes {
    width: 60%;
    margin-left: 20%;
    &-scene {
      @include border-style;      
      width: 100%;      
    }
  }

  &-add {
    font-family: 'Patua One', cursive;
    @include border-style; 
    width: 60%;
    margin-left: 20%;
    background-color: rgb(19, 19, 19);
    font-size: 1.5em;             
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
    &-link {
      text-decoration: none;
    }
  }
}

