

.stories {  
  &-title {
    @include comic-title;
  }
  &-container {
    max-height: 75vh;
    overflow: auto;    
    @include border-style;    
    background-image: url("/background-images/stories.jpg");
    background-color: gray;
    @include margin-left-right(20em);
  }
}
