body {
  .story-list {
    display: flex;    
    box-shadow: 0px 8px 5px #000000;        
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    position: relative;
    border-style: solid;
    border-color: black;
    background-color:  rgb(255, 253, 235);
    margin: 1em auto;
    // height: 85vh;
    width: 60vw;
    .story-thumbnail {
      height: 100%;
      border-right: black;
      border-right-style: solid;
    }
    .story-content {
      width: 100%;
      text-align: center;
    }
  }
}