@mixin margin-left-right ($size) {
  margin-left: $size;
  margin-right: $size;
}

.stories {
  &-title {
    font-family: 'Patua One', cursive;
    font-size: 5vh;    
    color: rgb(255, 217, 0);
    -webkit-text-stroke: 1.5px #000000;        
    text-shadow: .08em .08em rgb(0, 204, 255);    
    text-align: center;
  }
  &-container {
    max-height: 75vh;
    overflow: auto;    
    border-color: black;
    border-style: solid;
    background-color: gray;
    @include margin-left-right(20em);
  }
}
