@mixin border-style(){
  border-color: black;
  border-style: solid;
  box-shadow: 0px .5em .5em #000000;          
}

@mixin b-div($color,$direction){
  background-color: $color;
  width: 60%;
  height: 100%;
  float: $direction;
}

@mixin margin-left-right ($size) {
  margin-left: $size;
  margin-right: $size;
}