@import url('https://fonts.googleapis.com/css?family=Barrio|Passion+One|Patua+One|Permanent+Marker|Poller+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
// font-family: 'Roboto', sans-serif;
// font-family: 'Poller One', cursive;
// font-family: 'Barrio', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Patua One', cursive;

@import 'utils';
@import 'home';
@import 'navbar';
@import 'homeImages';
@import 'canvas';
@import 'stories';
@import 'story';
@import 'single-story';
@import 'add-story';
@import 'addscene';
@import 'addscene-edit';
@import 'addscene-canvas';
@import 'addscene-edit-cartoonify';
@import 'addscene-edit-canvas';
// import Canvas.state.color as $selectedColor from './components/Canvas'

body {
    margin: 0;
    background-color: rgb(235, 2, 2);
    .page {
        position: relative;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
}



