@import url('https://fonts.googleapis.com/css?family=Barrio|Passion+One|Patua+One|Permanent+Marker|Poller+One');
// font-family: 'Poller One', cursive;
// font-family: 'Barrio', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Patua One', cursive;


@import 'home';
@import 'navbar';
@import 'homeImages';
@import 'canvas';
@import 'stories';
@import 'story';
@import 'single-story';
// import Canvas.state.color as $selectedColor from './components/Canvas'


body {
    margin: 0;
    background-color: rgb(235, 2, 2);
    // .story-thumbnail {
    //     margin-bottom: 50px;
    //     margin-top: 25px;
    // }
    .page {
        position: relative;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }
}



